/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagline {
    font-family: 'Lota Grotesque', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0;
    text-align: left;
}

.tagline span {
    color: transparent !important;
}

.logoBlur {
    position: relative;
    height: 480px;
}

.logoBlur > svg {
    position: relative;
    z-index: -1;
    top: -100px;
    left: -96px;
}

@media only screen and (max-device-width: 736px) {
    .tagline {
        font-size: 26px;
    }

    .heroButtons {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .hideSmall {
        display: none;
    }
}

.tagline span {
    color: var(--ifm-color-primary);
}

.getStarted {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 24px;
    background: #ed3545;
    border: 1px solid #cfd4eb;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}

.getStarted:hover {
    color: white;
    background: #ad1934;
}

html[data-theme='dark'] .getStarted {
    border-color: #585e76;
}

.try {
    padding-top: 20px;
}

.try, .features {
    color: #41465d;
}

html[data-theme='dark'] .try,
html[data-theme='dark'] .features {
    color: #b3b8d2;
}

.heroButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.features > * {
    margin: 2em 0;
}

.bottomLogo path:nth-child(1) {
    fill: url(#gradient-1) !important;
    stroke: url(#gradient-1) !important;
}
