/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagline {
    font-family: 'Lota Grotesque', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0;
    text-align: left;
    transition: all var(--ifm-transition-fast);
}

.tagline span {
    color: transparent !important;
}

.relative {
    position: relative;
}

.codeBlock {
    position: absolute;
    top: 40%;
    max-width: 400px;
    width: 100%;
}

.heroBanner {
    padding-top: 100px;
    padding-bottom: 4rem;
}

.heroBanner h1:nth-child(1) {
    background: linear-gradient(225deg, #FFB200 0.1%, #FFB100 8.15%, #FFAF02 15.6%, #FEAB04 22.55%, #FDA606 29.08%, #FCA00A 35.28%, #FB980E 41.26%, #FA9013 47.1%, #F98618 52.89%, #F77B1E 58.73%, #F56F24 64.71%, #F3632B 70.91%, #F25532 77.44%, #EF473A 84.39%, #ED3842 91.84%, #EB284B 99.9%),
    linear-gradient(0deg, #41465D, #41465D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.heroBanner h1:nth-child(2) {
    position: absolute;
    top: 0;
    z-index: 1;
    width: calc(100% - 2rem);
}

html .heroBanner h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #41465d;
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html[data-theme='dark'] .heroBanner h2 {
    color: #b3b8d2;
}

.heroBanner code {
    background: #272c3d;
    padding: 10px 20px;
}

.heroBanner button {
    opacity: 0.4;
    padding: 5px 8px;
    margin-top: -2px;
}

.heroBanner button span {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.heroBanner code span {
    color: #f2f3fb;
}

.logoBlur {
    position: absolute;
    width: 680px;
    height: 680px;
    top: -120px;
    left: -100px;
    z-index: -1;
}

.heroButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1440px) {
    .tagline {
        font-size: 56px;
        line-height: 78px;
    }
}

@media only screen and (min-device-width: 997px) and (max-device-width: 1100px) {
    .tagline {
        font-size: 48px;
        line-height: 64px;
    }
}

@media only screen and (max-device-width: 996px) {
    .codeBlock {
        position: relative;
        top: 50px;
    }

    .logoBlur {
        display: none;
    }
}

@media only screen and (max-device-width: 736px) {
    .heroBanner {
        padding-top: 20px;
        padding-bottom: 2rem;
    }

    .tagline {
        font-size: 32px;
        line-height: 48px;
    }

    .tagline br {
        display: none;
    }

    .hideSmall {
        display: none;
    }

    .codeBlock {
        top: 0;
    }
}

@media only screen and (max-device-width: 450px) {
    .codeBlock code {
        font-size: 0.8em;
    }

    .heroButtons {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .heroBanner button {
        opacity: 0;
    }
}

@media only screen and (max-device-width: 350px) {
    .codeBlock code {
        font-size: 0.7em;
    }
}

.tagline span {
    color: var(--ifm-color-primary);
}

.getStarted {
    font-size: 18px;
    line-height: 28px;
    padding: 12px 24px;
    background: #ed3545;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}

.getStarted:hover {
    color: white;
    background: #ad1934;
}

html[data-theme='dark'] .getStarted {
    border-color: #585e76;
}

.try {
    padding-top: 20px;
}

.try, .features {
    color: #41465d;
}

html[data-theme='dark'] .try,
html[data-theme='dark'] .features {
    color: #b3b8d2;
}

.features > * {
    margin: 2em 0;
}

.bottomLogo path:nth-child(1) {
    fill: url(#gradient-1) !important;
    stroke: url(#gradient-1) !important;
}

.topBanner {
    margin-top: 50px;
    padding: 24px 60px;
    border: 1px solid #cfd4eb;
    border-radius: 6px;
    line-height: 40px;
}

.topBanner h1 {
    font-family: 'Lota Grotesque', sans-serif;
    font-size: 32px;
    color: #41465D;
    margin-top: 5px;
}

.topBanner a {
    text-decoration: underline;
    color: #41465d;
}

.topBanner a:hover {
    text-decoration: none;
}

.textRow {
    font-size: 16px;
    line-height: 36px;
    color: #41465d;
}

.textRow svg {
    margin: 0 5px;
    display: inline-block;
    position: relative;
    top: 4px;
}

html[data-theme='dark'] .textRow,
html[data-theme='dark'] .topBanner h1,
html[data-theme='dark'] .topBanner a {
    color: #f2f3fb;
}

html[data-theme='dark'] .ghLogoSmall path {
    fill: #f2f3fb;
}

html[data-theme='dark'] .hnLogoSmall {
    background: #f2f3fb;
}

html[data-theme='dark'] .phLogoSmall {
    background: #f2f3fb;
    border-radius: 100%;
}

html[data-theme='dark'] .zoomLogoSmall path {
    fill: #f2f3fb;
}

.phcard {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
