.getStartedSection {
    margin-bottom: 32px;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

/************** BENEFITS SECTION ***********/

.benefitsSection {
    margin-bottom: 60px;

    h2 {
        margin: 32px 0;
        text-align: center;

        /* TABLET */
        @media (min-width: 768px) {
            margin: 80px 0;
        }
    }
}

/************** OTHER FEATURES SECTION ***********/

.otherFeaturesSection {
    display: flex;
    flex-direction: column;

    h2 {
        margin: 0;
        padding: 32px 12px;

        text-align: center;
        color: var(--color-text);
        font-weight: 400;

        line-height: 46px !important;
        font-size: 36px !important;

        @media (min-width: 768px) {
            line-height: 56px !important;
            font-size: 48px !important;
            margin: 80px 0 64px;
            padding: 0 24px;
        }
    }
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
}

.cardsWithContentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-position-x: 5px;
    background-image: url('../../static/img/triangles_light.svg');

    html[data-theme='dark'] & {
        background-image: url('../../static/img/triangles_dark.svg');
    }

    @media (min-width: 768px) {
        gap: 48px;
    }
}

.cardsWithImageContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @media (min-width: 768px) {
        gap: 32px;
        flex-direction: row;
    }
}

.cardWithImage {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-card-background);
    border-block: 1px solid var(--color-separator);

    @media (min-width: 768px) {
        border: 1px solid var(--color-separator);
    }

    &:first-child {
        border-left: 0;
    }
    &:last-child {
        border-right: 0;
    }
}

.cardWithImage img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cardWithImage:last-child img {
    object-position: left 90%;
}

.cardWithImageText {
    padding: 40px 24px;
    border-top: 1px solid var(--color-separator);
}

.cardWithImageTitle {
    margin: 0;

    color: var(--color-text);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.cardWithImageDescription {
    margin-top: 12px;
    color: var(--color-text-muted);
    font-family: var(--ifm-font-family-base);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/************** DEPLOY TO CLOUD SECTION ***********/

.deployToCloudSection {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.deployToCloudLeftSide {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 400;

    h2 {
        color: var(--color-text);
        font-family: 'Lota Grotesque';
        font-size: 38px;
        line-height: 46px;
    }
}

.deployToCloudDescription {
    color: var(--color-text-muted);
    font-size: 16px;
    line-height: 24px;
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.deployToCloudRightSide {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 50%;
    position: relative;
}

.deployToCloudStep {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.deployToCloudStepNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--color-separator);
    background: var(--color-background);
    color: var(--color-text-muted);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    z-index: 1;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px dashed var(--color-separator);
    }
}

.deployToCloudStepText {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 4px;
    color: var(--color-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    pre {
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
}

#verticalStepLine {
    position: absolute;
    left: 36px;
    height: 100%;
    z-index: 0;
}

/* TABLET */
@media (min-width: 768px) {
    .deployToCloudSection {
        padding: 96px 40px;
        flex-direction: row;
    }
    .deployToCloudLeftSide {
        text-align: left;

        h2 {
            color: var(--color-text);
            font-family: 'Lota Grotesque';
            font-size: 48px;
            line-height: 58px;
        }
    }
    .deployToCloudDescription {
        font-size: 18px;
        line-height: 28px;
    }
}

/************** BUILD SCRAPERS FAST SECTION ***********/

.buildFastScrapersSection {
    position: relative;

    padding: 40px 0 32px;

    border-bottom: 1px solid var(--color-separator);

    h2 {
        margin: 0;
        padding: 32px 12px;
        text-align: center;
        color: var(--color-text);
        font-weight: 400;

        line-height: 46px !important;
        font-size: 36px !important;

        @media (min-width: 768px) {
            line-height: 56px !important;
            font-size: 48px !important;
            padding: 80px 24px 64px;
        }
    }

    div[class*='dashedDecorativeCircle'] {
        display: none;
    }

    @media (min-width: 1024px) {
        padding: 80px 0 60px;
        div[class*='dashedDecorativeCircle'] {
            display: block;
        }
    }
}

.buildFastScrapersContent {
    border-block: 1px solid var(--color-separator);
}
