build
dist
build-docs
node_modules
yarn.lock
*.log
*.pid
*.seed
.DS_Store
lib
coverage
.nyc_output
logs
pids
.idea
.vscode
.zed
package-lock.json
tmp
jsconfig.json
docs/api
docs/typedefs
.history
.docusaurus
**/*.tsbuildinfo
apify_storage
crawlee_storage
storage
.turbo
test/e2e/**/packages

.yarn

# Local vitest config overrides
vitest.config.local.mts
