build
dist
build-docs
node_modules
*.log
*.pid
*.seed
.DS_Store
lib
coverage
.nyc_output
logs
pids
.idea
.vscode
package-lock.json
tmp
jsconfig.json
docs/api
docs/typedefs
.history
.docusaurus
tsconfig.tsbuildinfo
apify_storage
crawlee_storage
storage
.turbo
.npmrc
test/e2e/**/packages

# we use corepack, no need to commit yarn binary
.yarn
