build
build-docs
node_modules
*.log
*.pid
*.seed
.DS_Store
lib
coverage
.nyc_output
logs
pids
.idea
.vscode
yarn.lock
package-lock.json
tmp
jsconfig.json
types
docs/api
docs/typedefs
docs/examples
.history
