# Keep empty .npmignore file here so that /build is not ignored by "npm publish"
# as it is in .gitignore file. Yes, this happened in older versions of NPM.
# See https://docs.npmjs.com/misc/developers for info.
