{{#if params ~}}
<table>
<thead>
<tr>
{{#each (tableHeadHtml params "name|Param" "type|Type" "defaultvalue|Default")}}<th>{{this}}</th>{{/each}}
</tr>
</thead>
<tbody>
{{#tableRow params "name" "type" "defaultvalue" "description" ~}}
<tr>
{{#if @col1}}<td><code>{{>param-table-name}}</code></td>{{/if~}}
{{#if @col2}}<td>{{>linked-type-list types=type.names delimiter=" | " html=true}}</td>{{/if~}}
{{#if @col3}}<td>{{>defaultvalue}}</td>{{/if}}
</tr>
<tr>
{{#if @col4}}<td colspan="3">{{{md (inlineLinks description)}}}</td>{{/if~}}
</tr>
{{~/tableRow}}
</tbody>
</table>
{{/if~}}
