/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

a {
    color: $secondaryColor;
}
/*Inverting input coloring because the default is too dark on our dark blue.*/
input#search_input_react {
    background-color: #fff !important;
    color: #000 !important;
}

input#search_input_react::placeholder {
    color: #000;
    font-weight: bolder;
}

.navSearchWrapper::after {
    background-color: rgb(129, 129, 129);
}

.navSearchWrapper::before {
    border-color: rgb(129, 129, 129);
}
