/*Inverting input coloring because the default is too dark on our dark blue.*/
input#search_input_react {
    background-color: #fff !important;
    color: #000 !important;
}

input#search_input_react::placeholder {
    color: #000;
    font-weight: bolder;
}

.navSearchWrapper::after {
    background-color: rgb(129, 129, 129);
}

.navSearchWrapper::before {
    border-color: rgb(129, 129, 129);
}

.projectTitle {
    color: #000;
}

/* The prev/next buttons are capitalized by default, which makes then unreadable. This fixes it. */
.docs-prev span, .docs-next span {
    text-transform: none;
}
