.button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buttonPrimary {
    background-color: var(--color-primary-action);
    color: var(--color-text-on-primary);
    border: none;
}

.buttonPrimary:hover {
    background-color: var(--color-primary-action-hover);
}
