.features {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.featureSvg {
    height: 60px;
    width: 60px;
}

.features h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.features p {
    font-size: 18px;
    line-height: 32px;
}
