name: docs

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    build:
        environment:
            name: github-pages
        permissions:
            contents: write
            pages: write
            id-token: write
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   name: Use Node.js 20
                uses: actions/setup-node@v4
                with:
                    node-version: 20

            -   name: Enable corepack
                run: |
                    corepack enable
                    corepack prepare yarn@stable --activate

            -   name: Build & deploy docs
                run: |
                    # install project deps
                    yarn
                    # go to website dir
                    cd website
                    # install website deps
                    yarn
                    # build the docs
                    yarn build
                env:
                    APIFY_SIGNING_TOKEN: ${{ secrets.APIFY_SIGNING_TOKEN }}

            -   name: Set up GitHub Pages
                uses: actions/configure-pages@v4

            -   name: Upload GitHub Pages artifact
                uses: actions/upload-pages-artifact@v2
                with:
                    path: ./docs/build

            -   name: Deploy artifact to GitHub Pages
                uses: actions/deploy-pages@v3
