name: E2E tests

on:
    workflow_dispatch:
    schedule:
        # Runs at 2 am every day
        -   cron: '0 2 * * *'

env:
    YARN_IGNORE_NODE: 1

jobs:
    # NPM install is done in a separate job and cached to speed up the following jobs.
    build_and_test:
        name: Build & Test
        runs-on: ubuntu-22.04

        strategy:
            fail-fast: false
            matrix:
                storage: [ LOCAL, MEMORY, PLATFORM ]

        steps:
            -   name: Cancel Workflow Action
                uses: styfle/cancel-workflow-action@0.12.1
                with:
                    access_token: ${{ github.token }}

            -   name: Checkout repository
                uses: actions/checkout@v5

            -   name: Use Node.js 20
                uses: actions/setup-node@v4
                with:
                    node-version: 22

            -   name: Enable corepack
                run: |
                    corepack enable
                    corepack prepare yarn@stable --activate

            -   name: Activate cache for Node.js 20
                uses: actions/setup-node@v4
                with:
                    cache: 'yarn'

            -   name: Turbo cache
                id: turbo-cache
                uses: actions/cache@v4
                with:
                    path: .turbo
                    key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
                    restore-keys: |
                        turbo-${{ github.job }}-${{ github.ref_name }}-

            -   name: Login to Apify
                run: npx -y apify-cli@beta login -t ${{ secrets.APIFY_SCRAPER_TESTS_API_TOKEN }}

            -   name: Install Dependencies
                run: yarn

            -   name: Install Playwright Dependencies
                if: (matrix.storage != 'PLATFORM')
                run: yarn playwright install --with-deps

            -   name: Build
                run: yarn ci:build

            -   name: Test with storage ${{ matrix.storage }}
                run: yarn test:e2e
                env:
                    STORAGE_IMPLEMENTATION: ${{ matrix.storage }}
                    APIFY_HTTPBIN_TOKEN: ${{ secrets.APIFY_HTTPBIN_TOKEN }}
